.ghe{
    width: 35px ;
    height: 35px;
    /* border : none; */
    border-radius :5px;
    cursor: pointer;
    margin: 10px;
    background-color:rgb(123, 122, 122);
    color:#fff;
}

.gheDaDat{
    background-color: rgb(234, 124, 124);
    cursor: no-drop;
}

.gheDangDat{
    background-color:rgb(18, 176, 78) !important;
}
.gheVip{
    background-color:rgb(228, 74, 8)
}

.gheTuDat{
    background-color: #fff;
    border: 1px solid orange;
    box-shadow: -1px -1px 28px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -1px 28px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 28px -5px rgba(0,0,0,0.75);
}

.gheKhachDat{
    background-color: rgb(184, 41, 184);
    cursor: no-drop;
}


@media screen and (max-width:  768px  ){
    .checkout {
        display: block !important;
    }
    .checkout .datVe{
        height: 200px !important;
    }
    .ghe{
        margin: 5px;
        width: 30px ;
        height: 30px;
        font-size: 13px !important;
    }
    .checkout svg{
        font-size: 13px !important;
    }
}

@media screen and (max-width: 480px  ){
    .ghe{
        margin: 2px;
        width: 20px ;
        height: 20px;
        font-size: 10px !important;
    }
    .sit{
        margin-top: -50px !important;
        margin-left: 0;
        margin-right: 0;
    }
    .info_sit{
        display: none;
    }
    .info_sit_mobile{
        margin-top: 20px;
        display: block !important;
        font-weight: 900;
    }
    
    .checkout svg{
        /* font-size: 6px !important; */
    }
    .header_checkout h2 {
        font-size: 10px;
    }
    .header_checkout .home_icon{
        margin: 0 0 0 0;
    }

    .header_checkout .home{
        width: 30% !important;
    }
    
    /* .header_checkout .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list{
        display: none !important;
        width: 80px !important;
        display: none !important;
        justify-content: space-between !important;
    } */
    .header_checkout .ant-tabs-nav-list{
        display: none !important;
    }
}
